.App {
  background-image: url("https://picsum.photos/1600/900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .App {
    padding-top: 80px;
  }
}
